[publicinbox]
	grokmanifest = all
	wwwListing = all
	css = /static/theme.css title=216dark

[extindex "all"]
	topdir = /data/all
	url = https://{{SERVE_HOST}}

{{#PI_IMAP_ENABLED}}
[publicinbox "{{PI_IMAP_LIST_NAME}}"]
	address = "{{PI_IMAP_LIST_ADDRESS}}"
	url = https://{{SERVE_HOST}}/{{PI_IMAP_LIST_NAME}}
	inboxdir = /data/{{PI_IMAP_LIST_NAME}}
	watch = "{{PI_IMAP_AUTH_URL}}"
{{/PI_IMAP_ENABLED}}

{{#SPAMCHECK_ENABLED}}
[publicinboxwatch]
	spamcheck = spamc
{{/SPAMCHECK_ENABLED}}
