[publicinbox]
	grokmanifest = all
	wwwListing = all
	css = /static/theme.css title=216dark

[extindex "all"]
	topdir = /data/all
	url = https://lore.kernel.ime.usp.br/

[publicinbox "kernel.ime"]
	address = kernel-owner@lists.ime.usp.br
	url = https://lore.kernel.ime.usp.br/kernel.ime/
	inboxdir = /data/kernel.ime/
	watch = "imaps://user@email:pass@imap:993/INBOX"

[publicinboxwatch]
	spamcheck = spamc
