[publicinbox]
	grokmanifest = all
  wwwListing = all
	grokManifest = all

[extindex "all"]
  topdir = /data/all
  url = https://lore.kernel.ime.usp.br/


[publicinbox "kernel.ime"]
	address = kernel-owner@lists.ime.usp.br
	url = https://lore.kernel.ime.usp.br/kernel.ime/

	inboxdir = /data/kernel.ime/
	watch = "imaps://user@email:pass@imap:993/INBOX"


[publicinboxwatch]
		; optional, enable use of spamc(1) for checking:
		spamcheck = spamc

		; optional, emails marked as read which appear
		; here will be trained as spam and deleted from
		; the inboxdirs of any public-inboxes which are
		; configured for watch.
		; This is global for all publicinbox.* sections
		;watchspam = maildir:/mail/Junk

